<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="subject">You have been added to a project</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 content">
                <p><%= user.firstName %> has added you as a collaborator on their project <%= project.title %> on SohoMuse.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 middle">
                <a class="btn btn-primary" href="<%= baseUrl %>/app#user/<%= encodeURIComponent(user.username) %>/projects/<%= project._id %>">View this project</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="footer">
                    &copy; Copyright SohoMuse INC
                </p>
            </div>
        </div>
    </div>
    <img src="<%= baseUrl %>/img/s-email.png" class="logo-img">
</div>
